<div class="banner-user">
  <div class="banner-avatar">
      <%= link_to user_path(@user) do %>
      <img src="https://www.wanimo.com/veterinaire/images/articles/chat/chat-hyperesthsie.jpg" width: 160, height: 160, class="avatar-medium" >
      <% end %>
  </div>
</div>
