<div class="footer">
  <ul class="list-inline">
    <li>
      <%= link_to "Offers", offers_path %>
    </li>
    <li>
      <%= link_to "Team", offers_path %>
    </li>
    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
  </ul>
  <br>
    <%= image_tag "logo.svg"%>
    <p>© Meubly 2017</p>
    <span>info@meubly.com</span>
</div>
