<div class="navbar-user">
  <!-- Left Navigation Datas -->
  <div class="navbar-user-left hidden-xs hidden-sm">
    <%= link_to "#", class: "navbar-data navbar-user-item item-active" do %>
      <i class="fa fa-bookmark" aria-hidden="true"></i> <%= @user.offers.size %> Offre
    <% end %>
  </div>
</div>

