<form class="form-inline" action="offers">
  <div class="form-group">
    <label class="sr-only" for="description">Email address</label>
    <input type="name" class="form-control" id="description" placeholder="Search for something..." name="name" style="width: 500px;">
  <button type="submit" class="button-search">Search</button>
  <br>
    <div class="checkboxes">
    <% Offer::CATEGORY.each do |category| %>
      <div class="checkbox tag"><label><input name="<%= category %>" type="checkbox"><%= category.capitalize %></label></div>
    <% end %>
    </div>
  </div>
</form>
