// Your footer style

.footer {
  background-color: white;
  text-align: center;
  height: 150px;
  padding: 50px;
  img {
    margin: 10px 0 10px 0;
  }
  p {
    color: $orange;
    font-weight: 300;
    font-size: 15px
  }
  span {
    color: white;
    font-weight: 300;
    font-size: 13px
  }
  li {
    margin: 0 30px;
  }
  a {
    color: grey;
    transition: all 0.3s ease;
    font-weight: 300;
    &:hover {
      text-decoration: none;
      color: $gray-lighten;
    }
  }
}
