
<div class="container">
  <div class="row">
    <h1 class='text-center title'>Everything you need to furnish your appartment</h1>
    <% @offers.each do |offer|  %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-category"><%= offer.name %></div>
          <%= link_to "", offer_path(offer), class:'card-link'  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
