/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
.alert-white {
  text-align: center;
  color: white;
  position: absolute;
  top: 70px;
  right: 0px;
  left: 48px;
  margin: 0 auto;
  width: 80%;
  height:50px;
}
.alert-info-white {
  background: transparent;
}
.alert-warning-white {
  background: transparent;
}

.close {
  display: none;
}
