
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  margin-top: 10px;
  font-weight: bold;
}




.tag:hover {
  background-color: red;
  color: white;
}

.tag:hover::after {
   border-left-color: red;
}

.tag::before {

}

.checkboxes {
  display:flex;
  margin-top: 15px;
}

.checkbox {
  justify-content: space-between;
  margin-right: 46px;
}
